USE [master]
GO
/****** Object:  Database [Tp1_SQL]    Script Date: 14/05/2019 09:20:02 ******/
CREATE DATABASE [Tp1_SQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tp1_SQL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Tp1_SQL.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Tp1_SQL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Tp1_SQL_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tp1_SQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tp1_SQL]
GO
/****** Object:  Table [dbo].[DEPT]    Script Date: 14/05/2019 09:20:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPT](
	[DEPTNO] [int] IDENTITY(10,10) NOT NULL,
	[DNAME] [varchar](30) NOT NULL,
	[LOC] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPTNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP]    Script Date: 14/05/2019 09:20:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP](
	[EMPNO] [int] NOT NULL,
	[ENAME] [varchar](30) NOT NULL,
	[JOB] [varchar](30) NOT NULL,
	[MGR] [int] NULL,
	[HIREDATE] [date] NOT NULL,
	[SAL] [int] NOT NULL,
	[COMM] [int] NULL,
	[DEPTNO] [int] NOT NULL,
	[numP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJET]    Script Date: 14/05/2019 09:20:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJET](
	[numP] [int] IDENTITY(101,1) NOT NULL,
	[nomP] [char](5) NOT NULL,
	[buget] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VUE_EMP]    Script Date: 14/05/2019 09:20:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VUE_EMP]
AS 
SELECT 
EMP.ENAME, EMP.JOB, DEPT.DNAME, PROJET.nomP
FROM EMP,DEPT,PROJET
GO
ALTER TABLE [dbo].[EMP]  WITH CHECK ADD  CONSTRAINT [FK_DEPTNO] FOREIGN KEY([DEPTNO])
REFERENCES [dbo].[DEPT] ([DEPTNO])
GO
ALTER TABLE [dbo].[EMP] CHECK CONSTRAINT [FK_DEPTNO]
GO
ALTER TABLE [dbo].[EMP]  WITH CHECK ADD  CONSTRAINT [FK_numP] FOREIGN KEY([numP])
REFERENCES [dbo].[PROJET] ([numP])
GO
ALTER TABLE [dbo].[EMP] CHECK CONSTRAINT [FK_numP]
GO
USE [master]
GO
