USE [master]
GO
/****** Object:  Database [Tp2_SQL]    Script Date: 14/05/2019 09:18:29 ******/
CREATE DATABASE [Tp2_SQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tp2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Tp2.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Tp2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Tp2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tp2_SQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tp2_SQL]
GO
/****** Object:  Table [dbo].[AVION]    Script Date: 14/05/2019 09:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVION](
	[AV] [int] IDENTITY(100,1) NOT NULL,
	[AVMARQ] [varchar](30) NOT NULL,
	[AVTYPE] [varchar](30) NOT NULL,
	[CAP] [int] NOT NULL,
	[LOC] [char](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PILOTE]    Script Date: 14/05/2019 09:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PILOTE](
	[PIL] [int] IDENTITY(1,1) NOT NULL,
	[PILNOM] [char](30) NOT NULL,
	[ADR] [char](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[PIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PILOTER]    Script Date: 14/05/2019 09:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PILOTER](
	[AV] [int] NOT NULL,
	[PIL] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOL]    Script Date: 14/05/2019 09:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOL](
	[VOL] [varchar](30) NOT NULL,
	[AV] [int] NOT NULL,
	[PIL] [int] NOT NULL,
	[VD] [char](30) NOT NULL,
	[VA] [char](30) NOT NULL,
	[HD] [int] NOT NULL,
	[HA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PILOTER]  WITH CHECK ADD  CONSTRAINT [FK_AV_LIER] FOREIGN KEY([AV])
REFERENCES [dbo].[AVION] ([AV])
GO
ALTER TABLE [dbo].[PILOTER] CHECK CONSTRAINT [FK_AV_LIER]
GO
ALTER TABLE [dbo].[PILOTER]  WITH CHECK ADD  CONSTRAINT [FK_PIL_LIER] FOREIGN KEY([PIL])
REFERENCES [dbo].[PILOTE] ([PIL])
GO
ALTER TABLE [dbo].[PILOTER] CHECK CONSTRAINT [FK_PIL_LIER]
GO
ALTER TABLE [dbo].[VOL]  WITH CHECK ADD  CONSTRAINT [FK_AV] FOREIGN KEY([AV])
REFERENCES [dbo].[AVION] ([AV])
GO
ALTER TABLE [dbo].[VOL] CHECK CONSTRAINT [FK_AV]
GO
ALTER TABLE [dbo].[VOL]  WITH CHECK ADD  CONSTRAINT [FK_PIL] FOREIGN KEY([PIL])
REFERENCES [dbo].[PILOTE] ([PIL])
GO
ALTER TABLE [dbo].[VOL] CHECK CONSTRAINT [FK_PIL]
GO
USE [master]
GO
